.box {
 
  width: 80%;
  display: flex;
  gap: 30px;
  margin: auto;
  overflow-x: scroll;
  scroll-behavior: smooth;
}
.box {
    scrollbar-width: none; 
    -ms-overflow-style: none; 
    
}

.box::-webkit-scrollbar {
    display: none; 
}